<html>
	<head>
		<link rel="stylesheet" href="/files/style.css">
		<title>Wer wird Million&auml;r?</title>
		<link rel="icon" type="image/x-icon" href="/files/images/logo.png">
	</head>
	<body class="background">
		<div class="title">Wer wird Million&auml;r?</div>
		<a class="start-button" href="/question/1">Starten</a>
		<img class="logo" src="/files/images/logo.png" alt="logo">
		<a href="/info"><img class="info" src="/files/images/info symbol.png" alt="info symbol"></a>
	</body>
</html>