<html>
	<head>
		<link rel="stylesheet" href="/files/style.css">
		<title>Wer wird Million&auml;r? - Info</title>
		<link rel="icon" type="image/x-icon" href="/files/images/logo.png">
	</head>
	<body class="background">
		<p class="info-title">
			Wilkommen bei <br> Wer wird Million&auml;r?
		</p>
		<p class="info-text">
			Beantworte alle Fragen richtig um die 1Millionen Euro zu gewinnen. <br> 
			Wenn du bei einer Frage falsch antwortest erh&auml;lst du den bereits verdienten Betrag.
		</p>
		<p  class="info-ending">
			Viel Erfolg &#127808;
		</p>
		<a class="exit-button" href="/">Zurück</a>
	</body>
</html>